<div class="container mt-5 mb-5">

<h1 class="text-center">About</h1>

    <p>
        Our application's main aim is to provide an easy and friendly experience in the whole process of ordering their favourite food.
        We aim to deliver food to our customers with the highest service quality and at the right time. 
        <br>Our application supports food delivery according to the user's location provided in order to deliver the food to our customers in fresh and hot.
        Our tie up with the best restaurants provides all our favorite dish in our single application. We aim to keep track and update all the available food items at the time.
        <br>We support online payments from popular UPI platforms like PhonePE, Gpay, Amazon Pay and PayTM. Our developer team in working to support all UPI payments from the customers.
        <br>Customer service is our priority over anything in this application. We read all your feedbacks from the customers, either positive or negative. So don't forget to give your valuable
        feedback as it highly helps to know our customer requirements
        <br>Enjoy your favourite food with our application!!! 

    </p>
</div>